workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fee762c7-7f8e-48ab-8d1c-b780c2514c34",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "IAVLQVPr23LU2ctL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=YOU ARE AAN INTELLIGENT MODEL, READ THIS AND DRADT A REPLY {{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "03ee14fb-9a36-4d73-a4d0-2d71690788d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "80ed39ca-604b-4d3c-b4a2-8ae486ba720e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aaYPqawFTaezt8i9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sheisruthisami@gmail.com",
        "subject": "Hello",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "e4f71631-604a-4f16-bc11-d8cfe5f8a057",
      "name": "Send a message",
      "webhookId": "2bb902f2-a2d1-481d-ad7f-9c4dc58fdeed",
      "credentials": {
        "gmailOAuth2": {
          "id": "IAVLQVPr23LU2ctL",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d8f78c7-ae85-4d25-b73a-ae980a875a7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6daac8a62deda8ab77ef6e982f030d5114385b5065bce5167983e4185591a02c"
  },
  "id": "tRMdbUi9DGbdIZuo",
  "tags": []
}